@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">
        <img src="/Images/bulb.jpg" width="60" height="50" />
        @ViewBag.Message
    </p><br />
    <p class="text-center">Repository <a href="https://github.com/mmysgp/CFDSA" class="btn btn-primary btn-lg" target="_blank">https://github.com/mmysgp/CFDSA</a></p>
</div>
